<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public.css">
    <title>Homepage</title>
</head>
<body>
    <h1>Homepage</h1>
    <p>I'm a programming student with a strong interest in technology and cloud computing, backed by over five years of hands-on computer experience. I also have three years of experience in photography, combining technical skills with a creative eye. Currently, I'm enrolled in a software engineering bootcamp at General Assembly while studying programming at Bahrain Polytechnic, continuously building practical and industry-relevant skills.</p>
    <a href="/about">Go to About Page</a>
</body>
</html>