* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  color: #007BFF;
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 5px;
  line-height: 1.6;
  font-size: 20px;
  text-align: left;
}

a {
  text-decoration: none;
  text-align: center;
  width: 190px;
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 20px auto;
}