* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

h1 {
  color: #007BFF;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #0056b3;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 30px;
}

h3 {
  color: #0056b3;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 24px;
}

p {
  margin-bottom: 5px;
  line-height: 1.6;
  font-size: 20px;
  text-align: left;
  width: 95%;
  background-color: #b0b0b0;
  border-color: #808080;
  border-radius: 8px;
  padding: 5px;
  margin: auto;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  width: 220px;
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
}

a:hover {
  transition: 300ms;
  background-color: #0056b3;
}

ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 18px;
}